#div-lista{
    min-height: 500px;
}

.div-pessoa-item {
    min-height: 200px;
    margin: 10px 0px;
    padding: 0px 10px;
    height: 40px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: left;
    color: var(--cor01);
    border-radius: 8px;
}

.txtNome{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0px;
}

.txtImc{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
}

.div-pessoa-item {
    line-height: 25px;
}

.div-pessoa-item img {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0px 10px;

    
}

.ax {
    border-left: 10px solid #f5dbca;
    border-bottom: 8px solid #f5dbca;;
}

.n {
    border-left: 10px solid #05da57;
    border-bottom: 8px solid #05da57;;
}

.sb {
    border-left: 10px solid #f8ed4d;
    border-bottom: 8px solid #f8ed4d;;
}

.o1 {
    border-left: 10px solid #f79e9e;
    border-bottom: 8px solid #f79e9e;;
}

.o2 {
    border-left: 10px solid #e45252;
    border-bottom: 8px solid #e45252;;
}

.o3 {
    border-left: 10px solid #7c0f0f;
    border-bottom: 8px solid #7c0f0f;;
}